/*$padWidth: 100px;
$padHeight: 80px;*/

body {
	margin: 20px 20px 40px;
  	background: #808080;
  	color: #fff;
  	font-size: 1.1em;
}

#header h2, p {
	text-align: center;
}

.pad-blank {
	width: 332px;
	height: 272px;
	display: inline-block;
	margin: 20px;
}

#drum-machine {
	text-align: center;
}

.drum-pad {
	position: relative;
	float: left;
	width: 100px;
	height: 80px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	padding-top: 35px;
	box-sizing: border-box;
	cursor: pointer;
	background: #404040;
	text-align: center;
}

#footer {
	position: fixed;
	right: 0;
	bottom: 1em;
	left: 0;
}